/* ===========================================
 * Fonts
 * ======================================== */

// Font
$font-family1: "Mukta Mahee", sans-serif;
//$font-family: $font-family1 !default;
//$font-weight1: 400 !default;
$font-family2: "Mukta Mahee", sans-serif !default;
//$font-weight2: 400 !default;
@include font-face("RockSolid Icons", font-files("rocksolid-icons.woff", woff, "rocksolid-icons.ttf", truetype, "rocksolid-icons.svg", svg), "rocksolid-icons.eot", normal, normal);
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

@mixin font1() { font: #{$font-weight1} #{$font-size}/#{$line-height} #{$font-family1}; }
@mixin font1-family() { font-family: #{$font-family1} !important; }
@mixin font2() { font: #{$font-weight2} #{$font-size}/#{$line-height-heading} #{$font-family2}; }
@mixin font2-family() { font-family: #{$font-family2} !important; }
.font1{
    @include font1-family;
}
.font2{
    @include font2-family;
}
html{
    @include font1();
    color: $font-color;
    @include mediaquery(mobile) {
        font-size: $font-size-mobile;
    }
}
h1, h2, h3, h4, h5, h6{
    @include font2-family();
}