@import "variables_client";
@import "variables";
@import "custom";

.text-intro {
    font-size: 1.2em;
}

.centered-wrapper-background-margin {
    height: calc(100vh - 100px);
    .centered-wrapper-background {
        top: 50px;
        left: 50px;
        right : 50px;
        bottom: 50px;
    }
}
.ambilight{
    .master-wrapper{
        .centered-wrapper-background {
            z-index: 1;
            border: 15px solid $white;
        }
        &::after{
            content:"";
            opacity: .6;
			display: block;
			position: absolute;
			top: 40px;
            left: 40px;
            right : 40px;
            bottom: 40px;
			z-index: 0;
            background-size: 100% 100%;
			filter: blur(15px) saturate(2);
        }
    }
    &.is-animated{
        .master-wrapper{
            &::after{
                opacity: 0;
                transform: scale(.9); 
                @include transition(all 1s ease-in-out); 
                transition-delay: 1.5s;
            }
        }
        .centered-wrapper-background{
            opacity: 0;
            transform: scale(1.05); 
            @include transition(all 2s ease-in-out);
        }
        &.in-view{
            
        .master-wrapper{
            &::after{
                    opacity: 1;
                    transform: scale(1);

                }
            }
            .centered-wrapper-background{
                transform: scale(1); 
                opacity: 1;
            }
        }
    }
}

.footer-copyright,
.icon-links:not(.full-links) a:before {
    color: $color1;
}

body {
    &.home {
        .main-navigation {
            .home {
                display: block;
            }
        }
        .header-navigation{
                padding-top: 40px;
                @include transition(padding-top .3s ease-in-out);
        }
    }

    &.scroll {
        .page-header {
            .header-navigation {
                &.is-fixed {
                    padding-top: 0;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                } 
            }
        }
    }
}

.page-header {
    .main-navigation {
        font-size: 1.2em;
        @include mediaquery-min(desktop) {
            font-size: 1.4em;
        }
        @include mediaquery(mobile) {
            display: block;

            >ul {
                >li {
                    &:not(.home) {
                        display: none;
                    }
                }
            }
        }

        .level_1 {
            display: flex;
            justify-content: space-evenly;
            ;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                order: 0;
                margin: 0;

                a,
                strong,
                span {
                    font-size: 1em;
                    font-weight: normal;
                }
                strong{
                    &.active{
                        background: $black;
                        color: $white;
                        &:after{
                            display: none !important;
                        }
                    }
                }
                a { 
                    position: relative;
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $black;
                        bottom: -5px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.4s ease-out;
                    }

                    &::before {
                        top: -5px;
                        transform-origin: left;
                    }

                    &:hover {

                        &::before,
                        &::after {
                            transform: scaleX(1);
                        }

                    }

                }

                &.home {
                    order: 2;

                    >.home {
                        background: url("/files/images/common/logo.svg") center center no-repeat;
                        background-size: contain;
                        width: 200px;
                        height: 100px;
                        text-indent: -9999px;
                        display: block;
                        overflow: hidden;
                    }
                }

                &:nth-child(4) {
                    order: 3;
                }

                &:nth-child(5) {
                    order: 4;
                }
            }
        }
    }

    .header-navigation {
        background: $white;
        .main-navigation-wrapper{
            width: 100%;
            max-width: $breakpoint-desktop;
            flex-direction: column;
            margin: 0 auto;
        }
        .header-bar {}

        &.is-fixed {
            box-shadow: none;
        }
    }
}