@import "variables_client";
@import "variables";
@import "custom";

.text-intro {
    font-size: 1.3em;
}

h1,
h2 {
    font-size: 1em !important;
    font-weight: 300;
    font-style: italic; 
}
.main-content h1{
    font-size: 4rem !important;
    margin-bottom: 0;
    @include mediaquery(tablet) {
        font-size: 3rem !important; 
     } 
}
.link-abs{ 
    &:hover, &:focus{
        opacity: .8;       
    }
    .centered-wrapper-inner {
        position: static;
        a{
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            text-indent: -9999px;
            opacity: 0;
        }
    }
}
.headline-box {

    &.h2,
    &.h1 {

        .headline,
        .subheadline {
            line-height: 1;
            @extend .font2;
            font-weight: 400;

            span {
                display: inline-block;
            }

            .br-forcer {
                display: block;
                /* Force le saut de ligne */
                width: 100%;
                height: 0;
                /* Optionnel: Retire la hauteur du span */
                /* Assurez-vous que les marges éventuelles du <br> ne sont pas présentes ici */
                margin: 0;
            }
        }

        .subheadline {
            font-weight: 400;
        }
    }

    &.h1 {
        font-size: 3em !important;

        @include mediaquery(tablet) {
            font-size: 2.5em !important;
        }
    }

    &.h2 {
        font-size: 3em !important;

        @include mediaquery(tablet) {
            font-size: 2.5em !important;
        }
    }

    &:after {
        display: none;
    }

}

#cadre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .cadre {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            max-height: auto;
            max-width: 250px;
            width: 100%;
        }
    }

    .content-text {
        margin-top: 120px;
        width: calc(30% - 180px);
    }

    @include mediaquery(desktop) {
        .content-text {
            font-size: 1.2em; 
        }
    }


    // 1. On définit le contenu des règles une seule fois
    @mixin style-mobile-narrow {
        top: auto;
        bottom: 25px;
        right: 0;
        left: 0;

        .cadre {
            display: none;
        }

        .content-text {
            font-size: 1em;
            margin-top: 100px;
            width: 100%; // Le width: calc... était écrasé par celui-ci de toute façon
            max-width: 500px;
            background: $white;
            padding: 25px;
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);

            .rte p:first-child {
                margin-top: 0;
            }
        }
    }

    // 2. On applique le mixin pour le OU (Hauteur < 700 OU Tablette)
    @media (max-height: 700px) {
        @include style-mobile-narrow;
    }

    @include mediaquery(tablet) {
        @include style-mobile-narrow;
    }
}

.snap-scroll {

    // On remonte au parent HTML
    /*html:has(&) {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    .snap-section{ 
        scroll-snap-align: start;
    }
    }*/
    .snap-section {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 800px;

        @mixin layout-large-height {
            padding-top: 100px;
            padding-bottom: 0;
            height: 100vh;
        }
        @include mediaquery(tablet) {
            .rs-columns{
            }
        }
        // SI Mobile (min-width)
        @include mediaquery-min(mobile) {
            @include layout-large-height;
        }

        // OU SI Hauteur > 800px
        @media (min-height: 800px) {
            @include layout-large-height;
        }

        &.snap-100 {

            .centered-wrapper-inner,
            .rs-columns-master,
            .rs-columns,
            .rs-column,
            .centered-wrapper,
            .content-image,
            .content-image figure {
                height: 100% !important;
            }

            .content-image {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .content-image figure img {
                max-height: 600px;
            }
        }

        .gap-0 {
            gap: 0 !important;

            .rs-column {
                flex-grow: 1 !important;
            }
        }

        .gap-10 {
            gap: 10px !important;

            .rs-column {
                flex-grow: 1 !important;
            }
        }

        .column-80 {
            .rs-column {
                height: 80% !important;
            }
        }

        .headline-box {
            margin-top: 15px;
            margin-bottom: 5px;

        }
    }

    .main-content {
        >.mod_article {
            &:first-child {
                .snap-section {
                    
                    padding-top: 0;
                    min-height: 800px;
                    @mixin layout-large-height { 
                        height: calc(100vh - 90px);
                        margin-top: 90px !important;
                    }

                    // SI Mobile (min-width)
                    @include mediaquery-min(mobile) {
                        @include layout-large-height;
                    }

                    // OU SI Hauteur > 800px
                    @media (min-height: 800px) {
                        @include layout-large-height;
                    }
                }
            }
        }
    }

    &.home-page {
        .main-content {
            >.mod_article {
                &:first-child {
                    .snap-section {}
                }
            }
        }
    }

}

.centered-wrapper {
    &.absolute {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        color: $white;
    }

    &.is-animated {
        .centered-wrapper-inner {
            .fade-up {
                opacity: 0;
                transform: translateY(50px);
                @include transition(all 1.5s ease-in-out);

            }
        }

        &.in-view {
            .centered-wrapper-inner {
                .fade-up {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .centered-wrapper-inner {
            @for $i from 1 through 10 {
                .fade-up {
                    &:nth-child(#{$i}) {
                        transition-delay: #{$i * 0.15}s;
                    }
                }
            }
        }
    }
}

.slice {
    margin: 0;

    @include mediaquery-min(tablet) {
        //margin: 0 50px;
    }

    .rte {
        font-size: 1.2em;
    }

    .full-height {
        min-height: 700px;
        @mixin layout-large-height {
            min-height: 100vh;
        }
        @media (min-height: 800px) {
            @include layout-large-height;
        }
        @include mediaquery-min(mobile) {
            @include layout-large-height;
        }
    }
}

.content-text {
    @include mediaquery(tablet) {
        font-size: .9em;
    }

    &.text-type2 {
        @extend .font2;
        font-size: 1.6em;
        line-height: 1.1;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: italic;

        p {
            margin: 25px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .rte {
        p {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}

.ambilight {
    .master-wrapper {
        .centered-wrapper-background {
            z-index: 1;
            border: 1px solid rgba($white, .3);
        }

        &::after {
            content: "";
            opacity: .6;
            display: block;
            position: absolute;
            top: 40px;
            left: 40px;
            right: 40px;
            bottom: 40px;
            z-index: 0;
            background-size: 100% 100%;
            filter: blur(15px) saturate(2);
        }
    }

    &.is-animated {
        .master-wrapper {
            &::after {
                opacity: 0;
                transform: scale(.9);
                @include transition(all 1s ease-in-out);
                transition-delay: 1.5s;
            }
        }

        .centered-wrapper-background {
            opacity: 0;
            transform: scale(1.05);
            @include transition(all 2s ease-in-out);
        }

        &.in-view {

            .master-wrapper {
                &::after {
                    opacity: 1;
                    transform: scale(1);

                }
            }

            .centered-wrapper-background {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.footer-copyright,
.icon-links:not(.full-links) a:before {
    color: $color1;
}

main {
    margin-top: 10px !important;
    border-top: 1px solid $black;
}

body {
    &.home {
        .main-navigation {
            .home {
                display: block;
            }
        }

        .header-navigation {
            //padding-top: 40px; 
            @include transition(padding-top .3s ease-in-out);
        }
    }

    &.scroll {
        .page-header {
            .header-navigation {
                &.is-fixed {
                    padding-top: 0;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

.page-header {
    padding-top: 0 !important;

    .main-navigation {
        font-size: 1.2em;

        @include mediaquery-min(desktop) {
            font-size: 1.4em;
        }

        @include mediaquery(mobile) {
            display: block;

            >ul {
                >li {
                    &:not(.home) {
                        display: none;
                    }
                }
            }
        }

        .level_1 {
            display: flex;
            justify-content: space-evenly;
            ;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                order: 0;
                margin: 0;

                a,
                strong,
                span {
                    font-size: 1em;
                    font-weight: normal;
                }

                strong { 
                    &.active {
                        border-bottom: 1px solid $grey-medium; 

                        &:after {
                            display: none !important;
                        }
                    }
                }

                a {
                    position: relative;

                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        background: $grey-medium;
                        bottom: -5px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.4s ease-out;
                    }

                    &::before {
                        top: -5px;
                        transform-origin: left;
                    }

                    &:hover {

                        &::before,
                        &::after {
                            transform: scaleX(1);
                        }

                    }

                }

                &.home {
                    order: 2;

                    >.home {
                        background: url("/files/images/common/logo.svg") center center no-repeat;
                        background-size: contain;
                        width: 200px;
                        height: 100px;
                        text-indent: -9999px;
                        display: block;
                        overflow: hidden;
                    }
                }

                &:nth-child(4) {
                    order: 3;
                }

                &:nth-child(5) {
                    order: 4;
                }
            }
        }
    }

    .header-navigation {
        background: $white;

        .main-navigation-wrapper {
            width: 100%;
            max-width: $breakpoint-desktop;
            flex-direction: column;
            margin: 0 auto;
        }

        .header-bar {}

        &.is-fixed {
            box-shadow: none;
        }
    }
}

form {
    &.contact-form {

        .widget-textarea {
            @include container(mobile) {
                margin: 0 0 1em;
            }
        }

        textarea {
            height: 155px;
        }

        .widget-submit {
            margin: 0;
            text-align: right;

            .submit {
                margin: 0 1rem 0 0;
            }
        }

        .rs-columns {
            gap: 0 2%;

            .rs-column {
                align-items: center;
                justify-content: center;
            }
        }
    }
}
.mod_newsreader {
    .news-boxed-categories{
        display: none;
    }
}
.mod_newslist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    .news-image-teaser{
        gap: 0;
        width: calc(50% - 1em);
        margin: 0;
        padding: 0;
        border: none;
        flex-direction: column;
        .news-boxed-item-image{
            margin: 0;
            &:after{
                display: none; 
            }
        }
    }
    &.three-col{
        .news-image-teaser{
            width: calc(50% - 1em);
            @include mediaquery-min(tablet) {
                width: calc(#{percentage(1/3)} - (2em * 2 / 3));
            }
        }
    }
}
.page-footer{
    padding-top: 0;
    .mod_rocksolid_slider{
        margin: 100px 0;
        h2{ 
            font-size: 3em !important; 
            margin-bottom: 50px; 
        }
        .rsts-slide{
            img{
                padding: 10px;
            }
        }
    }
}
.main-navigation-mobile{
    font-size: 2em;
    @extend .font2;
}