@import "variables_client";
@import "variables";
@import "custom";

.text-intro {
    font-size: 1.2em;
}

.centered-wrapper-background-margin {
    min-height: calc(100vh - 100px);

    .centered-wrapper-background {
        margin: 0 50px 50px;
    }
}

.footer-copyright,
.icon-links:not(.full-links) a:before {
    color: $color1;
}

body {
    &.home {
        .main-navigation {
            .home {
                display: block;
            }
        }
    }

    &.scroll {
        .page-header {
            .header-navigation {
                &.is-fixed {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                } 
            }
        }
    }
}

.page-header {
    .main-navigation {
        @include mediaquery(mobile) {
            display: block;

            >ul {
                >li {
                    &:not(.home) {
                        display: none;
                    }
                }
            }
        }

        .level_1 {
            display: flex;
            justify-content: space-evenly;
            ;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;

            >li {
                order: 0;
                margin: 0;

                a,
                strong,
                span {
                    font-size: 1em;
                    font-weight: normal;
                }
                strong{
                    &.active{
                        background: $black;
                        color: $white;
                        &:after{
                            display: none !important;
                        }
                    }
                }
                a { 
                    position: relative;
                    &::after,
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: $black;
                        bottom: -5px;
                        left: 0;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.4s ease-out;
                    }

                    &::before {
                        top: -5px;
                        transform-origin: left;
                    }

                    &:hover {

                        &::before,
                        &::after {
                            transform: scaleX(1);
                        }

                    }

                }

                &.home {
                    order: 2;

                    >.home {
                        background: url("/files/images/common/logo.svg") center center no-repeat;
                        background-size: contain;
                        width: 200px;
                        height: 100px;
                        text-indent: -9999px;
                        display: block;
                        overflow: hidden;
                    }
                }

                &:nth-child(4) {
                    order: 3;
                }

                &:nth-child(5) {
                    order: 4;
                }
            }
        }
    }

    .header-navigation {
        background: $white;
        .main-navigation-wrapper{
            width: 100%;
            max-width: $breakpoint-desktop;
            flex-direction: column;
            margin: 0 auto;
        }
        .header-bar {}

        &.is-fixed {
            box-shadow: none;
        }
    }
}